body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.intro {
  margin: 8% auto;
}

.hero-image {
  color: #F9F9F9;
  background-color: lightskyblue;
  padding: 10% 2%;
  background-image: url("./luca-bravo-TaCk3NspYe0-unsplash.jpg");
  background-position: bottom;
}

.app-body {
  padding: 5% 2%;
  width: 80%;
  margin: 0 auto;
}

.input-group {
  margin: 20px 0;
}

.keynote-form {
  max-width: 600px;
  margin: 0 auto;
}

.card {
  margin: 25px 0;
}